/*CSS Resets/Boiler*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-weight: 400;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* roboto-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/roboto-v30-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url('./fonts/roboto-v30-latin-300italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/roboto-v30-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/*CSS Reset End*/
.navbar {
  height: 75px;
  background-color: #1f2937;
  padding: 0 160px 0 160px;
  display: flex;
  border-bottom: 1px solid white;
}

.navbar ul {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 20px;
}

.navbar .logo {
  color: #f9faf6;
  font-size: 2rem;
  margin-right: auto;
}

.navbar .link {
  color: #e5e7eb;
  font-size: 1.2rem;
  gap: 24px;
}

.layout {
  display: flex;
  padding: 80px 160px;
  background-color: #1f2937;
  color: white;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}

.layout h1 {
  font-size: 3rem;
  font-weight: 900;
  color: #f9faf6;
  margin-bottom: 1rem;
}

.hero-text-container,
.hero-img-container {
  display: flex;
}

.hero-text-container {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 40%;
  align-items: center;
}

.hero-img-container {
  display: flex;
  background-color: orange;
  flex-basis: 60%;
  align-self: stretch;
}

.hero-text-container p {
  margin-bottom: 2rem;
  font-size: 18px;
  color: #e5e7eb;
}

.layout button {
  background-color: #3b82f6;
  padding: 8px 40px;
  border: 0;
  color: #f4f8fe;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
}
